{:deps true
 :builds {:main {:target :node-library
                 :exports-var source-maps.core/exports
                 :output-dir "out/compiled"
                 :output-to "out/main.js"
                 :compiler-options {:optimizations :simple
                                    ; :static-fns true
                                    :source-map "out/main.js.map"
                                    ; :reader-features #{:node}
                                    ; :fn-invoke-direct true
                                    }}
          :script {:target :node-script
                   :main source-maps.script/main
                   :output-dir "out/compiled"
                   :output-to "out/script.js"
                   :compiler-options {:optimizations :simple
                                      ; :static-fns true
                                      :source-map "out/script.js.map"
                                      ; :reader-features #{:node}
                                      ; :fn-invoke-direct true
                                      }}}}
